body {
  height: 100vh;
  font-family: arial;
}

.parallax1 {
  margin-top: 55px;
  background-image: url("https://www.nawpic.com/media/2020/aesthetic-backgrounds-nawpic-75.jpg");
  min-height: 500px;
  min-width: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}
.parallax2 {
  background-image: url("https://previews.123rf.com/images/niekrasova/niekrasova1806/niekrasova180600038/103992960-tropical-green-leaves-on-dark-background-.jpg");
  min-height: 500px;
  min-width: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}
h2 {
  background: #fff;
  width: 200px;
  border-radius: 50px;
  text-align: center;
}
center {
  font-size: 2rem;
}
